body{
    margin: 0px;
    padding: 0px;
    /* background-color: rgb(49, 48, 47);
    color: white; */
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

#addCuentaForm {
    display: none;
}

#navTitle {
    margin-left: 3vw;
}

#navPrincipal {
    z-index: 2;
    position: fixed;
    width: 100vw;
}

#navBar {
    display: none;
}

#littleNav {
    display: none;
    z-index: 2;
    position: fixed;
    background-color: rgb(181, 245, 208);
    right: -300px;
}

#littleIngresosBtn {
    margin-top: 2vh;
}

#littleIngresosBtn, #littleEgresosBtn,
#littleMovimientosBtn, #littleCuentasBtn,
#littleTransferenciasBtn {
    display: none;
    margin-bottom: 2vh;
}

#movements {
    font-size: 0.5706rem;
}

#infoStatic {
    position: fixed;
    z-index: 1;
    position: fixed;
    top: 60px;
    width: 100vw;
    background-color: white;
}

#infoStatic>h1 {
    font-size: 1.5rem;
}

#ingresos, #egresos, #movements, #cuentas, #transferencias {
    display: none;
    position: relative;
    top: 140px;
}

#ingresosForm, #egresosForm, #transferenciasForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

#ingresosForm>div, #egresosForm>div, #transferenciasForm>div {
    width: 70vw;
}

@media (min-width: 992px) {
    #ingresos, #egresos, #movements, #cuentas, #transferencias {
        display: none;
        position: relative;
        top: 30vh;
    }
    #infoStatic {
        position: fixed;
        z-index: 1;
        position: fixed;
        top: 8vh;
        width: 100vw;
        background-color: white;
    }
    #navBar {
        display: flex;
    }
    #push {
        display: none;
    }
    #movements {
        font-size: 1rem;
        display: none;
    }
    #ingresos>.row>form>div, #egresos>.row>form>div,
    #transferencias>.row>form>div {
        width: 50vw;
    }
    #infoStatic>h1 {
        font-size: 2.5rem;
    }
}

/* nav{
    width: 100vw;
    height: 5vh;
    background-color: beige;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

#navBar{
    display: flex;
    grid-column: 2/span 4;
    background-color: red;
    flex-wrap: wrap;
    justify-content: space-around;
}

.search-by-id {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    padding: 0;
    text-decoration: underline;
    font-family: inherit;
    font-size: inherit;
}

#menuBtn {
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-self: center;
}

#push {
    height: 30px;
    background-color: gray;
    border: none;
    outline: none;
}

.seleccion {
    height: 30px;
    align-self: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
  
th {
    background-color: #333;
    color: white;
}
  
tr:nth-child(even) {background-color: #f2f2f2;}

tr:hover {background-color: #ddd;} */