body{
    margin: 0px;
    padding: 0px;
    /* background-color: rgb(49, 48, 47);
    color: white; */
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

#addCuentaForm {
    display: none;
}

#navTitle {
    margin-left: 3vw;
}

#navBar {
    display: none;
}

#littleNav {
    display: none;
    z-index: 1;
    position: fixed;
    background-color: rgb(181, 245, 208);
    right: -300px;
}

#littleIngresosBtn {
    margin-top: 2vh;
}

#littleIngresosBtn, #littleEgresosBtn, #littleMovimientosBtn, #littleCuentasBtn {
    display: none;
    margin-bottom: 2vh;
}

@media (min-width: 992px) {
    #navBar {
        display: flex;
    }
    #push {
        display: none;
    }
}

/* nav{
    width: 100vw;
    height: 5vh;
    background-color: beige;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

#navBar{
    display: flex;
    grid-column: 2/span 4;
    background-color: red;
    flex-wrap: wrap;
    justify-content: space-around;
}

.search-by-id {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    padding: 0;
    text-decoration: underline;
    font-family: inherit;
    font-size: inherit;
}

#menuBtn {
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-self: center;
}

#push {
    height: 30px;
    background-color: gray;
    border: none;
    outline: none;
}

.seleccion {
    height: 30px;
    align-self: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
  
th {
    background-color: #333;
    color: white;
}
  
tr:nth-child(even) {background-color: #f2f2f2;}

tr:hover {background-color: #ddd;} */